@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.btn {
  font-size: 1.3rem;
  padding: 5px;
  margin: 5px;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bebas Neue';
  font-size: 1.7rem;
  background-color: seagreen;
}

.logoRedes {
  padding: 30px;
  text-align: center;
  padding: 30px;
  text-align: center;
}

.logoRedes img {
  width: 70px;
  height: 70px;
}

.banner {
  border: 1px solid;
  margin: 5px;
}

.banner img {
  max-width: 100%;
  max-height: 100%;
}

.texto {
  text-align: center;
  margin: 15px;
  padding: 10px;
  animation-name: rotar;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

.texto p {
  color: black;
  text-decoration: unset;
}

.titulo {
  text-align: center;
  color: white;
  margin: 15px;
  padding: 10px;
  animation-name: mover;
  animation-duration: 3s;
  animation-direction: reverse;
}

.tarjetas {
  font-size: 1.3rem;
  margin: 15px;
  padding: 5px;
}

.logo {
  width: 130px;
  height: 60px;
  padding: 5px;
}

@keyframes mover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media all and (max-width: 768px) {
  body {
    font-size: 1rem;
  }
  .logoRedes img {
    width: 50px;
    height: 50px;
  }
}
